
.wrapper{
  margin-top: 10px;
  margin-bottom: 50px;
}

.img{
	  position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img img{
     box-shadow: 10px 10px 5px grey;
}

.box{
  	border-radius: 25px;
    background: rgb(31, 151, 81);
    padding: 20px; 
    box-shadow: 10px 10px 5px grey;
} 

.box a{
  font-size: 24px;
  color:#fff;
}

.box h1{
	color: white;
	font-size: 40px;
}

.box h2{
  color: white;
  font-size: 30px;
}

.box li{
	color: white;
  font-size: 24px;
}