
.wrapper{
  margin-top: 10px;
  margin-bottom: 50px;
}

.img{
	  position: relative;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, 5%);
  	box-shadow: 10px 10px 5px grey;
}

.box{
  	border-radius: 25px;
    background: rgb(31, 151, 81);
    padding: 20px; 
    box-shadow: 10px 10px 5px grey;
} 

.box h1{
	color: white;
	font-size: 40px;
}

.box li{
	color: white;
  font-size: 24px;
}