/* body */
body{
	background-color : white;
}

html {
    height: 110%;
    margin-bottom: 0.01em;
}

/* navigation */
.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
    background: rgb(14, 102, 85);
    box-shadow: 10px 10px 5px grey;
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
}
.nav a {
    display:block;
    padding:20px 40px;
    line-height:1.2em;
    text-decoration: none;
    font-size: 24px;
    color:#fff;
}
.nav a:hover {
    text-decoration:none;
    background: rgba(88, 214, 141 , 1);
}

.nav li ul a {
    border:none;
  	font-size: 24px;

}
.nav li ul a:hover {
    background: rgba(88, 214, 141 , 1);
    box-shadow: 10px 10px 5px grey;
}

.nav li ul {
    background: rgb(14, 102, 85);
    position:absolute;
    left:0;
    top:60px;
    z-index:1;
}
.nav li ul li {
	width:260px;
    overflow:hidden;
    max-height:0;
    -webkit-transition:max-height 500ms ease;
    -moz-transition:max-height 500ms ease;
    -o-transition:max-height 500ms ease;
    transition:max-height 500ms ease;
}
.nav ul > li:hover ul li {
    max-height:150px;
}